@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: #1e293bec;
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	color: #c8c8c8;
}

::-webkit-scrollbar {
	display: none;
}

@keyframes forward {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(-0%);
	}
}
